<%- include("../partials/header")%>
<div class="container">
    <div style="width: 30%; margin: 3rem auto;" class="row">
        <h4>Edit expense</h4>
        <form action="/transections/<%= currentUser._id %>/<%=transection._id%>?_method=PUT" method="POST">
            <div class="form-group">
              <label for="text">Expense</label>
              <input type="text" class="form-control" name="text" id="text" value="<%= transection.text %>">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Amount</label>
              <input type="text" class="form-control" name="amount" id="amount" value="<%= transection.amount %>">
              <small id="emailHelp" class="form-text text-muted">(positive- payment , negative-expense)</small>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary">Submit</button>
            </div>  
          </form>
    </div>
</div>
<%- include("../partials/footer")%>