<%-include("../partials/header")%>


<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h1 class="mb-2">Expense Tracker of <%= currentUser.username %></h1>
        <hr>
        <%var total=0, income=0, expense=0;  %>
        <% user.transections.forEach(function(trans){ %>
           <% total+=trans.amount; %>
           <%if(trans.amount < 0){ %>
                <%expense+=trans.amount %>
            <% }else{ %>
                <%income+=trans.amount%>
           <% }%>
        <% }) %> 
        <h5>YOUR BALANCE</h5>
        <p id="balance"><strong>Rs. <%= total%></strong></p>
            <div class="card card-display" style="width: 12rem;">
                <div class="card-body alert-success">
                  <h5 class="card-title">Income</h5>
                    <p class="card-text">Rs. <%= income %></p>
                </div>
            </div>
            <br>
            <div class="card card-display" style="width: 12rem;">
                <div class="card-body alert-danger">
                  <h5 class="card-title">Expense</h5>
                  <p class="card-text">Rs. <%= Math.abs(expense) %></p>
                </div>
            </div>
        <a class="btn btn-primary mt-2 mb-2" href="/transections/<%= user._id %>/new">Add new transection</a>
        </div>
        <div class="col-md-6 mt-5 p-3">
            <h4>History</h4>
            <hr>
            <% user.transections.forEach(function(trans){ %>
                    <div class="m-2 ">
                        <%= trans.text%> <span class="text-right"><%= trans.amount %>
                        <a href="/transections/<%= user._id %>/<%= trans._id %>/edit"> <button> <i class="far fa-edit"></i></button></a>
                        <form id="deleteForm" action="/transections/<%=currentUser._id%>/<%=trans._id%>?_method=DELETE" method="POST">
                            <button><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </span> 
                    </div>
            <% }) %> 
        </div>
    </div>
</div>


<%-include("../partials/footer")%>